body {
	background-image: url(../img/L_IMG_6803.JPG);
	background-position: center top;
	background-size: cover;
	height:100vh;
	width: 100%;
	padding:0px;
	margin:0px;
	font-family: Helvetica, Arial, sans-serif; 
	background-attachment: fixed;
	overflow-x: hidden; 
	color:#232B2B; /* use slightly off black color */
}

html {
	padding:0px; margin: 0px;
}

.body-wrap {
	overflow-x:hidden; 
	width:85%;
	margin:0px auto;
	background-color:rgba(255,255,255,.7);
	min-height:100vh;
	padding-top: 80px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

}

#logo img {
	height:60px;
}

a {
	color:rgb(255, 145, 0);
}

header {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	margin: 0px;
	padding:0px;
}

.header-inner {
	background-color: white;
	width: 85%;
	margin:0px auto;
	box-shadow: 0px 3px 3px #999;
}

#content {
	margin:0px 20px;
	overflow: auto;

}

#content .news-item {
	float:left;
	width:32%;
	margin-right: 1%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	/*background-color: rgba(255,255,255, .7);*/
	background-color: white;
	padding:1em;
	/*height:350px;*/
	transition: background-color 0.4s ease-in,
				width 0.6s ease-in;
	margin-bottom:10px;
	text-shadow:1px 1px 2px white;
}

.news-item .full-only {
	display: none;
}

#content .news-item.full {
	width: 65%;
}

.news-item.full .full-only {
	display: block;
}

#content article.news-item:nth-of-type(3n+1) {
	clear:left;
}

#content article.news-item:first-of-type {
	clear:none !important;
}

#content .news-item:hover {
	background-color: rgba(255,255,255, 1);
	box-shadow: 0px 0px 15px #999;
}

#content article.news-item a {
	text-decoration: none;
}

#content .news-item a img {
	max-width: 100%;
}

.main-menu {
	float:right;
	margin-right: 10px;
}

.main-menu ul {
	list-style-type: none;
}

.main-menu li {
	display: inline-block;
	
	border-bottom: 2px solid white;
}

.main-menu li a {
	padding:14px;
	display: block;
	text-decoration: none;
	transition: background-color 0.4s ease-in;
}

.main-menu li a:hover {
	background-color: #f9f9f9;
}

.main-menu li.active {
	border-bottom: 2px solid rgb(255, 145, 0);
}

#logo {
	padding-left:1em;
}

.news-item-full.disabled {
	display: none;
}

#current-item-cont.news-item-full {
	float: left;
	width: 66%;
}

.news-item-full {
	max-width: 850px;
	background-color: white;
	padding: 1em;
}

.news-item-full .article-text p:first-of-type {
	font-weight: bold;
}

.news-item-full img {
	max-width: 100%;
}

.news-item-full p.author {
	text-align: right;
	font-style: italic;
}

@media screen and (max-width: 800px) {
	#content article.news-item {
		width: 49%;
	}

	nav.main-menu {
		display: none;
	}

	#content article.news-item:nth-of-type(3n+1) {
		clear:none;
	}

	#content article.news-item:nth-of-type(2n+1) {
		clear:left;
	}
}

@media screen and (max-width: 600px) {
	#content article.news-item {
		width: 100%;
	}
}